/* Primary Css */
*{
    padding:0;
    margin:0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* Header CSS */

.header-container{
    max-width:1400px;
    height: 600px;
    display:flex;
    justify-content: right;
    align-items: center;
    background-image: url('./images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

.header-text{
    width:500px;
    text-align: right;
    margin-right:110px;   
}
.header-text h1{
    font-size: 65px;
    font-weight: 700;
    color:#151414;
    padding-top:15px;
    padding-bottom:15px;
}
.header-text p{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom:15px;  
}
.btn-primary{
    padding:10px 20px;
    font-size:20px;
    background-color: #F15B22;
    border:1px solid #F15B22;
    color:#fff;
    transition: .4s;
    
}

.btn-primary:hover{
    background-color: red;
    color:black;
    
}

/* Content Section */

.content-section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:300px;
    
}
.content-img-section{
    width:550px;
    height: 550px;
    border-radius: 100%;
    background: rgba(241, 91, 34, 0.20);
    position:relative;    
   
}

.person-img{
    position: absolute;
    bottom:0;
    left:0;
    
}
.content-text-section{
    width:400px;
    margin-right:20px;
}

.content-text-section h3{
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}
.content-text-section p{
    color:#444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
    
}

.content-text-section ul li {
    display:inline-block;
    
}
.content-text-section ul li a{
    text-decoration: none;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.content-text-section ul li a i{
    color:#16d887;
    margin-right:5px;
}
/* Planing Section */
.planing{
    margin-top:180px;
}
.planing-section h3{
    text-align: center;
    font-size:45px;
    font-weight: 700;
    margin-bottom:50px;

    
}
.planing-container{
    display:flex;
    justify-content: space-around;
    margin-top:50px;
    align-items: center;

}

.planing-item{
    text-align: center;
    margin-bottom:50px;

}

.planing-img{
    width:100%;
}

.planing-heading{
    color:#151414;
    font-size: 30px;
    font-weight: 700;
    padding-top:16px;
    padding-bottom:16px;
}

.planing-details{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* Watch Section */
.watch-section{
    width:1100px;
    height: 350px;
    margin:50px auto;
    position: relative;
    border-radius: 8px; 
}

.watch-img{
    max-width: 100%;
   position: relative;
}
.gradinent{
    position: absolute;
    top:0;
    left:0;
}
.watch-details {
    position: absolute;
    top: 59px;
    left: 55px;
    width: 55%;
    height: 100%;
    
}

.w-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-bottom:20px;
}

.w-b.btn-primary{
    color:#F15B22;
    background-color: #fff;
    border-radius: 5px;
    border-color: #fff;
    font-size: 20px;
    font-weight: 600;
}

/* Footer Section */

.footer-container{
    width:1400px;
    height: 500px;
    background-color:#151414;
    color:#fff;
    
}

.footer-details{
    width:1000px;
    display:flex;
    justify-content: space-between;
    padding-top:100px;
}

.footer-left{
    width:500px;
    padding-left:10px;
}

.footer-left h4{
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-bottom:15px;
}

.footer-left p{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom:20px;
    
}

.footer-right{
    
}
.footer-right h5{
    font-size:25px;
    font-weight: 700;
    padding-bottom:20px;
}

.footer-right input{
    font-size:16px;
    font-weight: 600;
    background-color: #151414;
    border:1px solid #fff;
    padding:17px 35px;
    border-radius: 10px;
    margin-bottom:20px;
    
}

